*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    margin-top:2em ;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;

}

.violet{
    background-color: rgb(219, 141, 219);
    width: 100%;
    height: 4em;
    padding: 1em;
    margin-bottom: 2em;
    
}

.marrone{
    background-color: rgb(223, 213, 134);
    width: 100%;
    height: 15em;
    padding: 1em;
    margin-bottom: 2em;
}

.main{
    background-color: rgb(53, 135, 246);
    width: 100%;
    height: 30em;
}

.main::before{
    content: "";
    display: table;
    clear: both;
}

.azzurro{
    background-color: rgb(177, 206, 228);
}

.box1{
    height: 5em;
}

.box2{
    width: 20%;
    height: 23em;
    margin-left: auto;
    margin-top: 1em;
    float: left;display: inline-block;
}

.box3{
    width: 20%;
    height: 23em;
    margin-left: auto;
    margin-top: 1em;
    float: right;display: inline-block;
}

.box4{
    width: 57%;
    height: 23em;
    margin: 1em;
    
    display: inline-block;

}

.footerx{
    background-color:  rgb(124, 43, 244);
    width: 100%;
    height: 4em;margin-top: 1em;
}